<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Profile</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <div class="profile-container">
                <h1>
                    <%=user.username%> Profile Page
                </h1>
            <div class="content-container">
            <div class="myFavs-container">
            
                <h2>My Favorites</h2>
            
            <div class="recipeCards">
                <% favoritedRecipes.forEach(recipe=> { %>

                    <a href="/recipes/<%= recipe._id %>">
                        <h3>
                            <%= recipe.nameOfRecipe %>
                        </h3>
                    </a>

                    <% }) %>
            </div>
            </div>

            <div class="myRecipes-container">
            
                <h2>My Recipes</h2>
            
            <div class="recipeCards">
                <% ownedRecipes.forEach(recipe=> { %>
                    <a href="/recipes/<%= recipe._id %>">
                        <h3>
                            <%= recipe.nameOfRecipe %>
                        </h3>
                    </a>
                    <% }) %>
            </div>
        </div>
        </div>
        </div>
</body>

</html>