<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>
        <%= recipe.nameOfRecipe %>
    </title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= recipe.nameOfRecipe %></h1>
    <h2>Details</h2>
    <p>Cooking Instructions: <%= recipe.instructions %></p>
    <p>Preparation Time: <%= recipe.preparationTime %></p>
    <p>Cooking Time: <%= recipe.cookingTime %></p>
    <p>Servings: <%= recipe.servings %></p>

    <% if (recipe.owner._id.equals(user._id)) { %>
        <form action="/recipes/<%=recipe._id%>?_method=DELETE" method="POST">
            <button type="submit">Delete <%= recipe.name %></button>
        </form>
        <a href="/recipes/<%= recipe._id %>/edit">Edit <%= recipe.nameOfRecipe %></a>
    <% } %>
        <a href="/recipes">See all Recipes</a>

    <h2>Favorites</h2>
    <p>Favorited by: <%= recipe.favoritedByUsers.length %> </p>

    <% if (userFavRecipe) { %>
        <p>You favorited this recipe.</p>
        <form action="/recipes/<%= recipe._id %>/favorited-by/<%= user._id %>?_method=DELETE" method="POST">
            <button type="submit">Unfavorite it</button>
        </form>
    <% } else { %>
        <form action="/recipes/<%= recipe._id %>/favorited-by/<%= user._id %>" method="POST">
            <button type="submit">Favorite it!</button>
        </form>
    <% } %>
</body>
</html>