<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= recipe.nameOfRecipe %></title>
</head>
<body>
    <h1><%= recipe.nameOfRecipe %></h1>
    <h2>Details</h2>
    <p>Description: <%= recipe.description %></p>
    <p>Preparation Time: <%= recipe.preparationTime %></p>
    <p>Cooking Time: <%= recipe.cookingTime %></p>
    <p>Servings: <%= recipe.servings %></p>

    <% if (recipe.owner._id.equals(user._id)) { %>
        <a href="/recipes/<%= recipe._id %>/edit">Edit <%= recipe.nameOfRecipe %></a>
        <% } %>
    <a href="/recipes">Back to Recipes</a>

</body>
</html>